* text=auto !eol
/.gitignore -text
/README.md -text
/__init__.py -text
ramsis/__init__.py -text
ramsis/ramsis.ini -text
ramsis/ramsis.py -text
ramsis/ramsiscore.py -text
ramsis/ramsissettings.py -text
ramsis/basel.rms -text
ramsis/domainmodel/__init__.py -text
ramsis/domainmodel/datamodel.py -text
ramsis/domainmodel/hydraulicevent.py -text
ramsis/domainmodel/injectionwell.py -text
ramsis/domainmodel/seismicevent.py -text
ramsis/eqstats.py -text
ramsis/eventimporter.py -text
ramsis/external/README -text
ramsis/forecastengine.py -text
ramsis/geometry.py -text
ramsis/isha/__init__.py -text
ramsis/isha/common.py -text
ramsis/isha/etas.py -text
ramsis/isha/rj.py -text
ramsis/isha/shapiro.py -text
ramsis/isha/shapiro_wrapper.m -text
ramsis/ishamodelcontrol.py -text
ramsis/main.py -text
ramsis/main.py.profile -text
ramsis/modelvalidation.py -text
ramsis/project/__init__.py -text
ramsis/project/project.py -text
ramsis/project/eventhistory.py -text
ramsis/project/hydrauliceventhistory.py -text
ramsis/project/project.py -text
ramsis/project/seismiceventhistory.py -text
ramsis/project/store.py -text
ramsis/simulation.profile -text
ramsis/simulator.py -text
ramsis/core/taskscheduler.py -text
ramsis/test/__init__.py -text
ramsis/test/resources/__init__.py -text
ramsis/test/resources/test_catalog.csv -text
ramsis/test/resources/test_hydr.csv -text
ramsis/test/taskschedulertest.py -text
ramsis/test/testproject.py -text
ramsis/test/testcommon.py -text
ramsis/test/testeqstats.py -text
ramsis/test/testeventhistory.py -text
ramsis/test/testhydrauliceventhistory.py -text
ramsis/test/testimporter.py -text
ramsis/test/testishamodelcontrol.py -text
ramsis/test/testproject.py -text
ramsis/test/testrj.py -text
ramsis/test/testseismicevent.py -text
ramsis/test/testseismiceventhistory.py -text
ramsis/test/testshapiro.py -text
ramsis/test/testsimulator.py -text
ramsis/test/teststore.py -text
ramsis/tools.py -text
ramsis/ui/__init__.py -text
ramsis/ui/ramsisuihelpers.py -text
ramsis/ui/forecastwindow.py -text
ramsis/ui/mainwindow.py -text
ramsis/ui/settingswindow.py -text
ramsis/ui/viewmodels/__init__.py -text
ramsis/ui/viewmodels/seismicdatamodel.py -text
ramsis/ui/views/Makefile -text
ramsis/ui/views/__init__.py -text
ramsis/ui/views/ramsis.pro -text
ramsis/ui/views/ramsis.pro.user -text
ramsis/ui/views/forecastwindow.ui -text
ramsis/ui/views/images[!!-~]original/forecast-window-toolbar-button.ai -text
ramsis/ui/views/images[!!-~]original/view-3d-toolbar-button.ai -text
ramsis/ui/views/images[!!-~]original/view-gr-toolbar-button.ai -text
ramsis/ui/views/images.qrc -text
ramsis/ui/views/images/forecast-window-toolbar-button.png -text
ramsis/ui/views/images/view-3d-toolbar-button.png -text
ramsis/ui/views/images/view-gr-toolbar-button.png -text
ramsis/ui/views/images_rc.py -text
ramsis/ui/views/mainwindow.ui -text
ramsis/ui/views/plots.py -text
ramsis/ui/views/settingswindow.ui -text
ramsis/ui/views/ui_forecastwindow.py -text
ramsis/ui/views/ui_mainwindow.py -text
ramsis/ui/views/ui_settingswindow.py -text
ramsis/ui/views/ui_simulationcontrolwindow.py -text
data/Data[!!-~]Formats -text
data/basel_cat.dat -text
data/basel_hydr.dat -text
doc/Images/RAMSIS[!!-~]Class[!!-~]Diagram.ai -text
doc/Images/logo.ai -text
doc/Images/pdf/RAMSIS[!!-~]Class[!!-~]Diagram.pdf -text
doc/Makefile -text
doc/code.rst -text
doc/conf.py -text
doc/index.rst -text
